PORT=3000
NODE_ENV=development
COOKIE_SECRET=your_cookie_secret_here

SESSION_SECRET=superSecret123456
JWT_SECRET=your_jwt_secret_here
COOKIE_MAX_AGE=86400000

MY_SQL_HOST
MY_SQL_PORT
MY_SQL_USER
MY_SQL_PASSWORD
MY_SQL_DATABASE